.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  width: 100%;
  height: 55px;
  background-color: #282c34;
  padding: 1px;
  display: flex;
  align-items: center;
  min-width: 750px;
}

.nav-bar h3 {
  flex-grow: 1;
  text-align: left;
}

.nav-bar h3, .nav-bar p {
  color: white;
  margin-left: 20px;
}

.nav-bar p {
  padding: 0px 15px;
}

.nav-bar p:hover {
  color: black;
}

.container {
  width: 70%;
  margin: auto;
  text-align: left;
}

.title {
  font-size: 18px;
}

.date {
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
