.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  width: 100%;
  height: 55px;
  background-color: #282c34;
  padding: 1px;
  display: flex;
  align-items: center;
  min-width: 750px;
  position: relative;
}

.nav-bar h3 {
  flex-grow: 1;
  text-align: left;
}

.nav-bar h3, .nav-bar p {
  color: white;
  margin-left: 20px;
}

.nav-bar p {
  padding: 0px 15px;
}

.nav-bar p:hover {
  color: black;
}

.container {
  width: 70%;
  margin: auto;
  text-align: left;
}

.title {
  font-size: 18px;
}

.date {
  font-size: 12px;
}

.btn-section {
  margin-top: 50px;
  text-align: right;
}

.btn-section button {
  margin: 8px;
}

.modal {
  width: 70%;
  min-width: 200px;
  height: 250px;
  background-color: #e2e5ec;
  margin: 50px auto;
  padding: 10px 30px;
  border-radius: 8px;
}

.modal h3 {
  text-align: center;
  margin-bottom: 50px;;
}

.hamburgerMenu {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburgerMenu>div {
  width: 80%;
  height: 3px;
  background-color: #282c34;
  margin: 3px 0px;
}

.menu-bar {
  width: 100px;
  height: 200px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgb(185, 185, 185);
  background-color: white;
  position: absolute;
  top: 57px;
  right: 40px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
