.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 80%;
}

.movie-box {
  border: 1px solid #eee;
  margin: 25px auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  text-align: left;
  min-width: 1000px;
  max-width: 2000px;
  left: 12%;
  transform: translate(1, -12%);
  transition: all 0.5s;
  cursor: pointer;
}

.movie-box:hover {
  transform: scale(1.01);
}

.movie-bg-img {
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  width: 99.2%;
  height: 98%;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.movie-content {
  display: flex;
}

.movie-content>img {
  margin-right: 20px;
  border-radius: 8px;
}

.movie-content>div>h3 {
  margin-top: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
